<!DOCTYPE html>
<html>
<head>
	<title>	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	
	{% load static %}
	<link rel="stylesheet" href="{% static 'vmcservice/css/detail.css' %}">
	<link rel="stylesheet" href="{% static 'vmcservice/css/styles.css' %}">
	<link rel='stylesheet' href="{% static 'vmcservice/css/prism.css' %}">

</head>
<body>


<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
			MENU
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				Administrator
			</a>
			<a class="navbar-brand" href="/vmc/">
				Home
			</a>
		</div>
	</div>
	<!-- /.container-fluid -->
</nav>  	
<div class="container-fluid main-container">
	<div class='container'>
		<div class="content">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>{{vm.name}}</h2>
				</div>
				<div class="panel-body">
					<!-- <h1>{{vm.name}}</h1> -->
					<div class="form-group row">
						<label for="id" class="col-sm-2 col-form-label">VM Number</label>
						<div class="col-sm-8">
							<label for="id" id='vm-number'>{{vm.id}}</label>
						</div>
						<div class='col-sm-2'>
							<button id='refreshButton' class="btn btn-success" onclick="getInfo('{{vm.id}}')">Refresh</button>
						</div>
					</div>
					<div class="form-group row">
						<label for="ipAddress" class="col-sm-2 col-form-label">Ip Address</label>
						<div class="col-sm-10">
							<label id='ipAddress' for="ipAddress" >-</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="username" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-10">
							<label for="username" >{{vm.username}}</label>
						</div>
					</div>
					<div class="form-group row">
						<label for="password" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-4">
							<input class="form-control" id='password-field' type='password' for="password" value='{{vm.password}}' readonly>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="status" class="col-sm-2 col-form-label">Status</label>
						<div class="col-sm-4">
							{% if vm.status == "on" %}
							<label id="vm-status" for="status" class='text-success'>Online</label>
							{% elif vm.status == "off" %}
							<label id="vm-status" for="status" class='text-danger'>Offline</label>
							{% else %}
							<label id="vm-status" for="status" class='text-warning'>Suspended</label>
							{% endif %}
						</div>
						<div class="col-sm-6" style='text-align: center;'>
							<button class="btn btn-success" onclick="powerOnVM('{{vm.id}}')">Turn On</button>
							<button class="btn btn-warning" onclick="suspendVM('{{vm.id}}')">Suspend</button>
							<button class="btn btn-danger" onclick="powerOffVM('{{vm.id}}')">Turn Off</button>
						</div>
					</div>
					<div class="form-group row">
						<label for="os" class="col-sm-2 col-form-label">Operating System</label>
						<div class="col-sm-10">
						<label for="os" >{{vm.operating_system}}</label>
						</div>
					</div>
					<div class="form-group row">
						<label id='memo-label' for="memo" class="col-sm-2 col-form-label">Memory Usage</label>
						<label id='memo-value' class="col-sm-10">0MB/0MB</label>
						<div class="col-sm-6">
							<div class="progress">
								<!-- success < 50%, warning < 80%, danger else -->
								<div id='memo-usage' class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
									100%
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label id='disk-label' for="disk" class="col-sm-2 col-form-label">Disk Space Usage</label>
						<label id='disk-value' class="col-sm-10">0G/0G</label>
						<div class="col-sm-6">
							<div class="progress">
								<!-- success < 50%, warning < 80%, danger else -->
								<div id='disk-usage' class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:100%">
									100%
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="panel panel-default">
				<div class="panel-heading">
					Connect Via NoVNC
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-3">
							<input class="form-control m-4" id='novnc-port' type="text" placeholder="novnc url">
						</div>
						<div class="col-sm-9 m-4">
							<button class="btn btn-success m-4" onclick="onclickConnect()">Connect</button>
						</div>
						<div class="col-sm-12">
							<iframe class="m-4" id='novnc-element'></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="panel panel-default">
				<div class="panel-heading">
					Run Script
				</div>
				<div class="panel-body">
					<!-- <form action="/vmc/ajax/runscript/{{vm.id}}" method="get"> -->
						{% csrf_token %}
						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">WARNING!</label>
							<div class="col-sm-10">
							<label for="staticEmail" >WE ARE ONLY ACCEPTING FILES WITH THE .py .pl .sh EXTENSION. ANY OTHER FILE TYPE WILL BE REJECTED</label>
							</div>
						</div>
						<div class="form-group row">
							<label for="Interpreter" class="col-sm-2 col-form-label">Select Interpreter</label>
							<div class="col-sm-10">
								<select onchange="changeLang(this)">
									<option value='python' selected>Python 3</option>
									<option value='perl'>Perl</option>
									<option value='bash'>Bash</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputFile" class="col-sm-2 col-form-label">File</label>
							<div class="col-sm-10">
								<input type="file" name="fileToUpload" id="inputFile" accept=".py, .pl, .sh" required>
							</div>
						</div>
						<button class="btn btn-primary" onclick="runScript('{{vm.id}}')">Run Script</button>
						<h3>Preview</h3>
						<pre><code id='code-block' class='language-py' name='code'></code></pre>
					<!-- </form> -->
				</div>
			</div>
		</div>
	</div>
	<footer class="pull-left footer">
		<p class="col-md-12">
			<hr class="divider">
			Copyright &COPY; 2015 <a href="http://www.pingpong-labs.com">Gravitano</a>
		</p>
	</footer>
</div>

	<script src="{% static 'vmcservice/js/prism.js' %}" data-manual></script>
	<script src="{% static 'vmcservice/js/detail.js' %}"></script>
  	<script>
  		$(document).ready(function(){
  			$(function(){
			  	$('.navbar-toggle-sidebar').click(function () {
			  		$('.navbar-nav').toggleClass('slide-in');
			  		$('.side-body').toggleClass('body-slide-in');
			  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
			  	});

			  	$('#search-trigger').click(function () {
			  		$('.navbar-nav').removeClass('slide-in');
			  		$('.side-body').removeClass('body-slide-in');
			  		$('.search-input').focus();
			  	});
		    });
		  });
		  // GANTI METHOD RESPONSE JANGAN KE FILE. PAKAI PRINTF + REGEX. BIAR MENINGKATKAN PERFORMA.
		getInfo('{{vm.id}}');
	  </script>
</body>
</html>