<html>
    <head>
        <title>test</title>

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" href="{% static 'vmcservice/css/index.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">VMC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Options</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Power VM
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Turn on all</a>
                                <a class="dropdown-item" href="#">Turn off all</a>
                                <a class="dropdown-item" href="#">Suspend all</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Turn off all Online</a>
                                <a class="dropdown-item" href="#">Suspend all Online</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Turn on all Offline</a>
                                <a class="dropdown-item" href="#">Suspend all Offline</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Turn on all Suspended</a>
                                <a class="dropdown-item" href="#">Turn off all Suspended</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li> -->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class='container'>
            {% for vm in vms %}
            <div id='vm-{{vm.id}}' class="card card-body mt-2 mb-2">
                <div class='card-head' onclick="goToDetailPage('{{vm.id}}')">
                    <span class='card-title'>{{vm.name}} </span>
                    <span id='big-vm-stat-{{vm.id}}'class='card-status float-right'> {{vm.status}} </span>
                </div>
                <div class='row'>
                    <!-- <div>vmx-path : {{vm.vmx_path}}</div> -->
                    <div class='col-md-2'>Status</div> 
                    <div class='col-md-10'>
                        <span id='vm-stat-{{vm.id}}' class='status-text' onclick="powerVM('{{vm.id}}', this.innerHTML)">{{vm.status}}</span>
                    </div>
                    <div class='col-md-2'>Created at</div>
                    <div class='col-md-10'>21 May 2019</div>
                    <div class='col-md-2'>Online since</div>
                    <div class='col-md-10'>02 June 2019</div>
                </div>
                <div class='float-right'>
                    <span class='status-text float-right'>Full-Clone</span> 
                    <span class='float-right mr-1 ml-1'> | </span> 
                    <span class='status-text float-right'>Linked-Clone</span>
                </div>
                {% if vm.status == "on" %}
                <button id='suspend-{{vm.id}}' onclick='onclickSuspend("{{vm.id}}")'>suspend</button>
                {% endif %}
                <!-- <div>vmx-path : {{vm.vmx_path}}</div>
                <div>
                    Status: <span id='vm-stat-{{vm.id}}' class='status-text' onclick="powerVM('{{vm.id}}', this.innerHTML)">{{vm.status}}</span>
                </div> 
                <div>
                    Created at: 
                </div>
                <div>
                    Online since: 
                </div>
                <div class='float-right'>
                    <span class='status-text float-right'>Full-Clone</span> 
                    <span class='float-right mr-1 ml-1'> | </span> 
                    <span class='status-text float-right'>Linked-Clone</span>
                </div> -->
            </div>
            {% endfor %}
        </div>

        <a href="/vmc/logout/">Logout</a>

        <script src="{% static 'vmcservice/js/index-utils.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>