<html>
    <head>Login</head>
    <body>
        <form action='/vmc/login/' method='POST'>
            {% csrf_token %}
            <div>
                {% for message in messages %}
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
                {% endfor %}
            </div>
            Username : <input type='text' name='username'>
            Password : <input type='text' name='password'>
            <button type="submit">Login</button>
        </form> 
    </body>
</html>