.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.card-old {
    width: 100%;
    height: min-content;
    background-color: skyblue;
}

.status-text {
    color: blue;
}

.status-text:hover {
    cursor : pointer;
    color: skyblue;
}