.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

/* .card:hover {
    cursor: pointer;
} */

.card-old {
    width: 100%;
    height: min-content;
    background-color: skyblue;
}

.card-head {
    cursor: pointer;
}

.card-title {
    font-size: 28px;
    font-weight: bold;
}

.card-status {
    font-size: 32px;
    font-style: italic;
    color: skyblue;
}

.card-body:hover {
    background-color: lightgray;
}

.card-body:active {
    background-color: lightgray;
}

.status-text {
    color: blue;
}

.status-text:hover {
    cursor : pointer;
    color: skyblue;
}